<a href="https://colab.research.google.com/github/Yeeun411/databaseClass/blob/main/%E2%80%8D%EA%B0%95%EC%98%88%EC%9D%80%5B%EC%9E%AC%ED%95%99_%EC%BB%B4%ED%93%A8%ED%84%B0_%EC%A0%84%EC%9E%90%EC%8B%9C%EC%8A%A4%ED%85%9C%EA%B3%B5%ED%95%99%EC%A0%84%EA%B3%B5%5D_ch5_homework_2023_student_dbc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - SQL1

1. Use Google Colaboratory and do your homework.
3. (In Google colaboratory) Before you submit your homework, restart kernel and run every cell!
4. Save (File->Save) the file
5. Submit your homework (this file) in Google classroom
6. **Don't forget to click "제출" button** ("Submit", "완료로 표시", 또는 "제출" 버턴을 누르지 않으면 제출된 것이 아님)
7. No late homeworks will be accepted for any reason!

To edit this cell, double click here
```
이름: 강예은
학번: 202000178
학과: 컴퓨터전자시스템공학
제출일: 2023.11.16
```

- SQL 작성시, 문제에 주어지지 않은 상수를 사용하는 경우 (cheating), **마이너스 점수**를 받는다.

- **점수: 1번은 20점 나머지는 10점**

아래는 학생과 수업에 관련된 데이터베이스 테이블이다.

![image.png]()![image.png](attachment:image.png)

In [ ]:
%load_ext sql

In [ ]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.0.tar.gz (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 2.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.0-cp310-cp310-linux_x86_64.whl size=123672 sha256=5f56dfe7d68b76369c147e9cb7f4fd9bc82f0c268e29d3737ea3a2a4c521cd83
  Stored in directory: /root/.cache/pip/wheels/a4/f8/fd/0399687c0abd03c10c975ed56c692fcd3d0fb80440b5a661f1
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0

## Use your host, id, database, and password

In [ ]:
import getpass
user = 's202000178'
password = getpass.getpass()
host='dm.hufs.ac.kr'
database = 's202000178db'
connection_string = f'mysql://{user}:{password}@{host}:3306/{database}'

%sql $connection_string

··········

### Use your s학번db database

In [ ]:
%sql use s202000178db;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
0 rows affected.

[]

## Note:
## Do NOT use either nested 'select' statements or aggregate functions
## Use single 'select' statements ONLY

#### 1.  관계형 데이터베이스 테이블 스키마(create table)을 생성하고, MySQL DBMS를 이용하여 테이블을 생성하시오.

- 테이블은 적절한 컬럼 데이터 타입, Primary Key, Foreign Key (on delete, on update rule 포함, restrict, set null, cascade), 필요하다면 Unique, NOT NULL 등이 표시되어야 한다.

- 조건: 선수과목 정보는 course 정보 때문에 유지하는 정보이다. 즉, Course가 삭제되면, 불필요한 정보이다.
- 스키마 작성시 9번 문제가 성공할 수 있도록 스키마를 작성하여야 한다.

- Semester은 enum type을 사용하여, 봄, 여름, 가을, 겨울(Spring, Summer, Fall, Winter) 순서가 되게 한다.
- Grade는 enum type을 사용하여 A, B, C, D, F 순서가 되게 한다.

In [ ]:
%%sql
DROP TABLE IF EXISTS GRADE_REPORT;
DROP TABLE IF EXISTS PREREQUISITE;
DROP TABLE IF EXISTS SECTION;
DROP TABLE IF EXISTS STUDENT;
DROP TABLE IF EXISTS COURSE;

CREATE TABLE STUDENT (
    Student_number INT NOT NULL,
    Name VARCHAR(50) NOT NULL,
    Class INT NOT NULL,
    Major VARCHAR(50),
    PRIMARY KEY (Student_number)
) ENGINE=InnoDB;

CREATE TABLE COURSE (
    Course_number CHAR(9) NOT NULL,
    Course_name VARCHAR(100) NOT NULL,
    Credit_hours INT NOT NULL,
    Department CHAR(4),
    PRIMARY KEY (Course_number),
    UNIQUE (Course_name)
) ENGINE=InnoDB;

CREATE TABLE SECTION (
    Section_identifier INT NOT NULL AUTO_INCREMENT,
    Course_number CHAR(9),
    Semester ENUM('Spring', 'Summer', 'Fall', 'Winter') NOT NULL,
    Year INT NOT NULL,
    Instructor VARCHAR(50) NOT NULL,
    PRIMARY KEY (Section_identifier),
    FOREIGN KEY (Course_number)
        REFERENCES COURSE (Course_number)
        ON DELETE SET NULL
        ON UPDATE CASCADE
) ENGINE=InnoDB;

CREATE TABLE GRADE_REPORT (
    Student_number INT NOT NULL,
    Section_identifier INT NOT NULL,
    Grade ENUM('A', 'B', 'C', 'D', 'F'),
    PRIMARY KEY (Student_number, Section_identifier),
    FOREIGN KEY (Student_number)
        REFERENCES STUDENT (Student_number)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (Section_identifier)
        REFERENCES SECTION (Section_identifier)
        ON DELETE CASCADE
        ON UPDATE CASCADE
) ENGINE=InnoDB;

CREATE TABLE PREREQUISITE (
    Course_number CHAR(9) NOT NULL,
    Prerequisite_number CHAR(9) NOT NULL,
    PRIMARY KEY (Course_number, Prerequisite_number),
    FOREIGN KEY (Course_number)
        REFERENCES COURSE (Course_number)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (Prerequisite_number)
        REFERENCES COURSE (Course_number)
        ON DELETE CASCADE
        ON UPDATE CASCADE
) ENGINE=InnoDB;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

#### 2. 각 테이블에 위에 테이블에 주어진 행들을 “insert into”를 이용하여 행들을 삽입하시오. Select \* from <table_name>를 이용하여 삽입의 성공 여부를 확인하시오.

In [ ]:
%%sql

-- STUDENT 데이터 삽입
INSERT INTO STUDENT (Name, Student_number, Class, Major) VALUES
('Smith', 17, 1, 'CS'),
('Brown', 8, 2, 'CS');

-- COURSE 데이터 삽입
INSERT INTO COURSE (Course_name, Course_number, Credit_hours, Department) VALUES
('Intro to Computer Science', 'CS1310', 4, 'CS'),
('Data Structures', 'CS3320', 4, 'CS'),
('Discrete Mathematics', 'MATH2410', 3, 'MATH'),
('Database', 'CS3380', 3, 'CS');

-- SECTION 데이터 삽입
INSERT INTO SECTION (Section_identifier, Course_number, Semester, Year, Instructor) VALUES
(85, 'MATH2410', 'Fall', 07, 'King'),
(92, 'CS1310', 'Fall', 07, 'Anderson'),
(102, 'CS3320', 'Spring', 08, 'Knuth'),
(112, 'MATH2410', 'Fall', 08, 'Chang'),
(119, 'CS1310', 'Fall', 08, 'Anderson'),
(135, 'CS3380', 'Fall', 08, 'Stone');

-- GRADE_REPORT 데이터 삽입
INSERT INTO GRADE_REPORT (Student_number, Section_identifier, Grade) VALUES
(17, 112, 'B'),
(17, 119, 'C'),
(8, 85, 'A'),
(8, 92, 'A'),
(8, 102, 'B'),
(8, 135, 'A');

-- PREREQUISITE 데이터 삽입
INSERT INTO PREREQUISITE (Course_number, Prerequisite_number) VALUES
('CS3380', 'CS3320'),
('CS3380', 'MATH2410'),
('CS3320', 'CS1310');

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
2 rows affected.
4 rows affected.
6 rows affected.
6 rows affected.
3 rows affected.

[]

### Run the following cell to show that insert is correctly done

In [ ]:
%sql select * from STUDENT;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
2 rows affected.

[(8, 'Brown', 2, 'CS'), (17, 'Smith', 1, 'CS')]

In [ ]:
%sql select * from COURSE;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
4 rows affected.

[('CS1310', 'Intro to Computer Science', 4, 'CS'),
 ('CS3320', 'Data Structures', 4, 'CS'),
 ('CS3380', 'Database', 3, 'CS'),
 ('MATH2410', 'Discrete Mathematics', 3, 'MATH')]

In [ ]:
%sql select * from SECTION;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
6 rows affected.

[(85, 'MATH2410', 'Fall', 7, 'King'),
 (92, 'CS1310', 'Fall', 7, 'Anderson'),
 (102, 'CS3320', 'Spring', 8, 'Knuth'),
 (112, 'MATH2410', 'Fall', 8, 'Chang'),
 (119, 'CS1310', 'Fall', 8, 'Anderson'),
 (135, 'CS3380', 'Fall', 8, 'Stone')]

In [ ]:
%sql select * from GRADE_REPORT;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
6 rows affected.

[(8, 85, 'A'),
 (8, 92, 'A'),
 (8, 102, 'B'),
 (8, 135, 'A'),
 (17, 112, 'B'),
 (17, 119, 'C')]

In [ ]:
%sql select * from PREREQUISITE;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
3 rows affected.

[('CS3320', 'CS1310'), ('CS3380', 'CS3320'), ('CS3380', 'MATH2410')]

#### 3. Database 과목을 수강한 학생들의 이름을 나열하시오.

In [ ]:
%%sql

select st.Name
from STUDENT st, GRADE_REPORT g, SECTION s, COURSE c
where st.Student_number = g.Student_number
and g.Section_identifier = s.Section_identifier
and s.Course_number = c.Course_number
and c.Course_name = 'Database';

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[('Brown',)]

#### 4. Grade_report테이블에 <8, 112, NULL> 행을 삽입하시오. 동일한 과목(course)을 두 번 이상 수강한 학생의 이름을 찾으시오. (Do NOT use aggregation functions)

In [ ]:
%sql insert into GRADE_REPORT values (8, 112, NULL);

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[]

In [ ]:
%%sql

select s.Name
from STUDENT s
where exists (
    select *
    from GRADE_REPORT g1, SECTION sec1
    where g1.Section_identifier = sec1.Section_identifier
    and s.Student_number = g1.Student_number
    and exists (
        select *
        from GRADE_REPORT g2, SECTION sec2
        where g2.Section_identifier = sec2.Section_identifier
        and g1.Student_number = g2.Student_number
        and sec1.Course_number = sec2.Course_number
        and g1.Section_identifier != g2.Section_identifier
    )
);

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[('Brown',)]

#### 5. Database 과목을 듣기 위해 (직접 또는 간접적으로: directly or indirectly) 미리 들어야 하는(prerequisite) 과목(Course_name)들을 모두 나열하시오. (Prerequisite는 Acyclic graph이고 path의 최대 길이는 3이라고 가정함. 길이 3: A-B-C-D)

In [ ]:
%%sql

with recursive emp (c, p) as (
    select Course_number, Prerequisite_number
    from PREREQUISITE
    union all
    select emp.c, p.Prerequisite_number
    from emp, PREREQUISITE p
    where emp.p = p.Course_number
)
select Course_name
from COURSE
where Course_number in (
    select p
    from emp, COURSE c
    where c.Course_name = 'Database'
    and c.Course_number = emp.c
);

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
3 rows affected.

[('Data Structures',),
 ('Discrete Mathematics',),
 ('Intro to Computer Science',)]

#### 6. 전공으로 수강한 과목들만 나열하는 MAJOR_GRADE_REPORT테이블을 만드시오. 테이블을 생성하고, GRADE_REPORT 테이블에서 전공으로 수강한 경우에 해당하는 행들만 아래 테이블에 삽입하시오. 전공으로 수강하였다는 것은 학생의 전공(Major)과 COURSE의 개설 Department가 같으면 전공으로 수강한 과목이다.
   
    MAJOR_GRADE_REPORT(Student_number, Section_identifier, Grade)

In [ ]:
%%sql

DROP TABLE IF EXISTS MAJOR_GRADE_REPORT;

CREATE TABLE MAJOR_GRADE_REPORT (
Student_number INT NOT NULL,
Section_identifier INT NOT NULL,
Grade CHAR,
PRIMARY KEY (Student_number, Section_identifier),
FOREIGN KEY (Student_number)
        REFERENCES STUDENT (Student_number)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
FOREIGN KEY (Section_identifier)
        REFERENCES SECTION (Section_identifier)
        ON DELETE CASCADE
        ON UPDATE CASCADE

) engine=InnoDB;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

insert into MAJOR_GRADE_REPORT (Student_number, Section_identifier, Grade)
select g.Student_number, g.Section_identifier, g.Grade
from STUDENT s, COURSE c, SECTION n, GRADE_REPORT g
where s.Major = c.Department
and s.Student_number = g.Student_number
and n.Course_number = c.Course_number
and n.Section_identifier = g.Section_identifier;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
4 rows affected.

[]

### Run the following cell to show that insert is correctly done

In [ ]:
%sql select * from MAJOR_GRADE_REPORT;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
4 rows affected.

[(8, 92, 'A'), (8, 102, 'B'), (8, 135, 'A'), (17, 119, 'C')]

#### 7. 모든 학생들의 성적들을 다음과 같이 출력하려 한다. 적절한 SQL문을 작성하여 실행하시오.
- 결과 테이블은 Major, Student_number, Year, Semester, Course_number 순서로 정렬되어야 한다.
- 결과 테이블 애트리뷰트 이름 및 순서: (Major, Student_number, Student_name, Year, Semester, Course_number, Course_name, Grade)

In [ ]:
%%sql

select s.Major, s.Student_number, s.Name as Student_name, n.Year, n.Semester, c.Course_number, c.Course_name, g.Grade
from STUDENT s, SECTION n, COURSE c, GRADE_REPORT g
where s.Student_number = g.Student_number
and g.Section_identifier = n.Section_identifier
and n.Course_number = c.Course_number
order by s.Major, s.Student_number, n.Year, n.Semester, c.Course_number;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
7 rows affected.

[('CS', 8, 'Brown', 7, 'Fall', 'CS1310', 'Intro to Computer Science', 'A'),
 ('CS', 8, 'Brown', 7, 'Fall', 'MATH2410', 'Discrete Mathematics', 'A'),
 ('CS', 8, 'Brown', 8, 'Spring', 'CS3320', 'Data Structures', 'B'),
 ('CS', 8, 'Brown', 8, 'Fall', 'CS3380', 'Database', 'A'),
 ('CS', 8, 'Brown', 8, 'Fall', 'MATH2410', 'Discrete Mathematics', None),
 ('CS', 17, 'Smith', 8, 'Fall', 'CS1310', 'Intro to Computer Science', 'C'),
 ('CS', 17, 'Smith', 8, 'Fall', 'MATH2410', 'Discrete Mathematics', 'B')]

#### 8. Brown이 수강한 Database 과목의 학점을 F로 수정하시오.

In [ ]:
%%sql

update GRADE_REPORT
set Grade = 'F'
where Student_number in (
    select s.Student_number
    from STUDENT s
    where s.Name = 'Brown'
)
and Section_identifier in (
    select n.Section_identifier
    from SECTION n, COURSE c
    where n.Course_number = c.Course_number
    and c.Course_name = 'Database'
);

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[]

### Run the following cell to show that update is correctly done

In [ ]:
%sql select * from GRADE_REPORT where Student_number = 8 and Section_identifier = 135;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[(8, 135, 'F')]

#### 9. Brown의 학번을 8번에서 9번으로 수정하시오. 반드시 update문 하나만 있어야 하며, update 문은 반드시 성공하여야 한다. 테이블의 Foreign Key 선언문을 삭제하면 안됨.

In [ ]:
%%sql

update STUDENT set Student_number = 9 where Student_number = 8;

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[]

### Run the following cell to show that update is correctly done

In [ ]:
%sql select * from STUDENT where name = 'Brown';

 * mysql://s202000178:***@dm.hufs.ac.kr:3306/s202000178db
1 rows affected.

[(9, 'Brown', 2, 'CS')]